@model BibliotekaWeb.Models.HistoriaViewModel

@{
    ViewData["Title"] = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wypożyczenie nowej pozycji z biblioteki</h1>

<h4>@Html.DisplayFor(model => model.Pozycja.Tytul)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pozycja.PozycjaId" />
            <div class="form-group">
                <label asp-for="Pozycja.Tytul" class="control-label"></label>
                <input readonly asp-for="Pozycja.Tytul" class="form-control" />
                <span asp-validation-for="Pozycja.Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozycja.Autor" class="control-label"></label>
                <input readonly asp-for="Pozycja.Autor" class="form-control" />
                <span asp-validation-for="Pozycja.Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--  <label readonly asp-for="Pozycja.Rodzaj" class="control-label"></label>-->
                <select asp-for="Pozycja.Rodzaj" class="form-control">
                    <option value="0">Książka</option>
                    <option value="1">DVD</option>
                    <option value="2">CD</option>
                    <option value="3">Vinyl</option>
                </select>
                <input readonly asp-for="Pozycja.Rodzaj" class="form-control" />
                <span asp-validation-for="Pozycja.Rodzaj" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Osoba" class="control-label"></label>
                <input asp-for="Osoba" class="form-control" />
                <span asp-validation-for="Osoba" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataOd" class="control-label"></label>
                <input asp-for="DataOd" class="form-control" />
                <span asp-validation-for="DataOd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Wypożycz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Pozycje" asp-action="Index">Powrót do pozycji</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
