@model BibliotekaWeb.Models.ReturnViewModel

@{
    ViewData["Title"] = "Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Zwrócenie pozycji z biblioteki</h1>

<h4>@Html.DisplayFor(model => model.Pozycja.Tytul)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pozycja.Tytul" class="control-label"></label>
                <input readonly asp-for="Pozycja.Tytul" class="form-control" />
                <span asp-validation-for="Pozycja.Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pozycja.Autor" class="control-label"></label>
                <input readonly asp-for="Pozycja.Autor" class="form-control" />
                <span asp-validation-for="Pozycja.Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDo" class="control-label"></label>
                <input  asp-for="DataDo" class="form-control" />
                <span asp-validation-for="DataDo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zwróć" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Pozycje" asp-action="Index">Powrót do pozycji</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
