@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Witaj w mojej bibliotece :-)</h1>
        <p></p>
        <p><img src="https://biblioteka.wisla.pl/wp-content/uploads/2020/05/kwarantanna.jpg" alt="" /></p>
    </div>
